.formUsers{
    width: 50%;
    border: 1px solid black
}

#textArea{
    width: 99%;
    height: 20vh;
}

#submitComment{
    display: block;
    margin: 0 auto;
    width: 99%;
    height: 4vh;
}

#divPhotoUser{
    height: 80px;
}

#photoUser{
    max-width: 100%;
    max-height: 100%;
}